.ml-percent-10 {
    margin: auto;
}

.dashborder {
    position: absolute;
    top: 10%;
    left: 6%;
    width: 93%;
    height: 88%
}



.customCard {
    width: 400px;
}

.category:hover {
    color: #3065f8;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Establecer el color del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 3px;
}

/* Establecer el color del fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.bg-transparent-cloud {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente pero menos transparente */
    backdrop-filter: blur(10px); /* Ajusta el valor de desenfoque según tus preferencias */
    border-radius: 10px; /* Esto puede variar según tus preferencias */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    width: 200px;
    height: 400px;
    margin-top: 5px;
    padding: 16px;
}

.itemBtn {
    background-color: #a4bdd2; /* Fondo blanco semi-transparente pero menos transparente */

}

.itemBtn:hover {
    background-color: rgba(30, 153, 57, 0.562);
    color: white;
    border-color: rgba(30, 153, 57, 0.158);
}

.bgLogin {
    background-image: url('../public/img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.selectedCategory {
    color: blue;
  }

.bg-localCard {
    background-color: rgb(252, 252, 252);
}


.bg-custom1:hover {
    background-color: #54b16b;
    color: white;
    border-color:#387547 ;
}

/* Define un color de fondo predeterminado para las tarjetas */
.bg-newO {
    background-color: rgb(202, 206, 214);
    color: black;
    transition: background-color 0.3s; /* Agrega una transición suave de 0.3 segundos al color de fondo */
}

/* Agrega un efecto de hover para cambiar el color de fondo al hacer hover */
.bg-newO:hover {
    transform: scale(1.05); /* Aumenta el tamaño en un 5% al hacer hover */
    transition: transform 0.3s; /* Agrega una transición suave de 0.3 segundos */
}
.icon-xs {
    font-size: 5px; /* Tamaño extra pequeño para el icono */
  }

  .bg-custom2 {
    background-color: #a4bdd2;
    color: black
}
